/*
 * Global Variables
 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  background-color: #0f1424;
}
html li,
body li {
  list-style: none;
}
html picture,
body picture {
  display: flex;
}

main {
  padding: 81px 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
main .time-tracking-dashboard {
  max-width: 327px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}

.time-tracking-dashboard .report-for {
  width: 100%;
  border-radius: 15px;
  background-color: #1C204B;
}
.time-tracking-dashboard .card {
  padding-top: 38px;
  width: 100%;
  border-radius: 15px;
  overflow: hidden;
  position: relative;
}
.time-tracking-dashboard .card .icon-bg {
  position: absolute;
  top: -11px;
  right: 17.5px;
}
.time-tracking-dashboard .card::before {
  content: "";
  width: 100%;
  height: 50%;
  position: absolute;
  top: 0;
  left: 0;
}
.time-tracking-dashboard .card.work::before {
  background-color: #FF8B64;
}
.time-tracking-dashboard .card.play::before {
  background-color: #55C2E6;
}
.time-tracking-dashboard .card.study::before {
  background-color: #FF5E7D;
}
.time-tracking-dashboard .card.exercise::before {
  background-color: #4BCF82;
}
.time-tracking-dashboard .card.exercise .icon-bg {
  top: 0px;
}
.time-tracking-dashboard .card.social::before {
  background-color: #7335D2;
}
.time-tracking-dashboard .card.self-care::before {
  background-color: #F1C75B;
}

.report-for .person {
  padding: 35px 39px 34px 32px;
  border-radius: 15px;
  background-color: #5747EA;
  display: flex;
  align-items: center;
  gap: 20px;
}
.report-for .time {
  padding: 24px 0 25px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.person .person-img {
  outline: 3px solid #FFFFFF;
  border-radius: 50%;
}
.person .name-description .description {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
  color: #BBC0FF;
}
.person .name-description .name {
  margin-top: 4px;
  font-family: "Rubik";
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 28px;
  color: #FFFFFF;
}

.time .time-btn {
  background-color: transparent;
  border: none;
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: #7078C9;
}
.time .time-btn.active {
  color: #FFFFFF;
}

.card .inner-content {
  padding: 28px 24px;
  width: 100%;
  background-color: #1C204B;
  border-radius: 15px;
  position: relative;
}
.card .inner-content .inner-header {
  padding-bottom: 1px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.card .inner-content .inner-header .title {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  color: #FFFFFF;
}
.card .inner-content .inner-header .card-btn {
  border: none;
  background-color: transparent;
  display: flex;
}
.card .inner-content .inner-body {
  margin-top: 6px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.card .inner-content .inner-body .current {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 300;
  font-size: 32px;
  line-height: 38px;
  color: #FFFFFF;
}
.card .inner-content .inner-body .previous {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
  text-align: right;
  color: #BBC0FF;
}

@media (hover: hover) and (pointer: fine) {
  button {
    cursor: pointer;
  }
  .time .time-btn:hover {
    color: #FFFFFF;
  }
  .card .inner-content:hover {
    background-color: #33397A;
    cursor: pointer;
  }
  .card .inner-content .inner-header .card-btn:hover path {
    fill: #D8D8D8;
  }
}
@media only screen and (min-width: 1158px) {
  main {
    height: 100vh;
  }
  main .time-tracking-dashboard {
    max-width: 1110px;
    display: grid;
    grid-template-areas: "report-for work play study" "report-for exercise social self-care";
    gap: 30px;
  }
  .time-tracking-dashboard .report-for {
    max-width: 255px;
    width: 100%;
    grid-area: report-for;
  }
  .time-tracking-dashboard .card {
    padding-top: 45px;
    width: 255px;
  }
  .time-tracking-dashboard .work {
    grid-area: work;
  }
  .time-tracking-dashboard .play {
    grid-area: play;
  }
  .time-tracking-dashboard .study {
    grid-area: study;
  }
  .time-tracking-dashboard .exercise {
    grid-area: exercise;
  }
  .time-tracking-dashboard .social {
    grid-area: social;
  }
  .time-tracking-dashboard .self-care {
    grid-area: self-care;
  }
  .report-for .person {
    padding: 37px 84px 80px 32px;
    flex-direction: column;
    align-items: flex-start;
    gap: 43px;
  }
  .report-for .time {
    padding: 26px 32px 33px;
    flex-direction: column;
    align-items: flex-start;
    gap: 21px;
  }
  .person .name-description .name {
    padding-bottom: 1px;
    margin-top: 3px;
    font-size: 40px;
    line-height: 47px;
  }
  .card .inner-content {
    padding: 29px 30px 32px 30px;
  }
  .card .inner-content .inner-body {
    margin-top: 24px;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
  }
  .card .inner-content .inner-body .current {
    font-size: 56px;
    line-height: 66px;
  }
}/*# sourceMappingURL=style.css.map */